<h1 mat-dialog-title class="text-center">Resumen de compra</h1>
<div mat-dialog-content class="text-center">
  <div class="selected-products">
    <div *ngFor="let product of data.selectedProducts">
      {{ product.name }} x{{ product.quantity }} - Total: ${{ product.sale_price * product.quantity }}
    </div>
  </div>
  <p class="font-semibold mt-4">Total de compra: ${{ data.total }}</p>
  <mat-form-field appearance="fill" class="w-full mt-4">
    <mat-label>Código de usuario</mat-label>
    <input
  matInput
  type="text"
  [(ngModel)]="data.userID"
  (ngModelChange)="data.userID = $event"
  required
  maxlength="5"
  (keypress)="numbersOnly($event)"
/>


    <mat-icon matPrefix>person</mat-icon>
  </mat-form-field>
  <mat-form-field appearance="fill" class="w-full mt-4">
    <mat-label>Monto a pagar</mat-label>
    <input
    matInput
    type="number"
    [(ngModel)]="data.amountToPay"
    (ngModelChange)="data.amountToPay = $event"
    required
    step="0.5"
  />
  
  
    <mat-icon matPrefix>attach_money</mat-icon>
  </mat-form-field>
</div>
<div mat-dialog-actions style="display: flex; justify-content: center;">
  <button mat-button mat-dialog-close color="warn" class="mx-2">Cancelar</button>
  <button
  mat-raised-button
  color="primary"
  [disabled]="!data.userID || !data.amountToPay"
  (click)="data.purchase()"
  class="mx-2"
>
  Comprar
</button>

</div>
