<style>
  .selected-products {
    max-height: calc(100vh - 12rem);
    overflow-y: auto;
  }
</style>

<div class="flex h-full">
  <div class="grid grid-cols-3 gap-4 w-3/4 h-full overflow-auto">
    <div
      *ngFor="let product of products"
      class="border p-4 rounded shadow"
      (click)="selectProduct(product)"
      [ngClass]="{ 'bg-green-100': product.selected }"
    >
      <img [src]="product.image" class="h-32 w-32 mx-auto mb-4" />
      <p class="font-semibold text-lg">{{ product.name }}</p>
      <p>Precio: ${{ product.sale_price }}</p>
      <p [ngClass]="{'text-red-500': product.stock === 0}">Stock: {{ product.stock }}</p>
    </div>
  </div>

  <div class="border-l w-1/4 p-4 h-full sticky top-0 flex flex-col">
    <h2 class="text-xl font-semibold mb-4">Productos seleccionados</h2>
    <div class="selected-products flex-grow">
      <div *ngFor="let product of selectedProducts; index as i" class="mb-4">
        <div class="grid grid-cols-6 gap-2 items-center">
          <img [src]="product.image" class="h-16 w-16 col-span-1" />
          <div class="col-span-3">
            <p>{{ product.name }}</p>
            <p class="text-sm text-gray-500">x{{ product.quantity }}</p>
          </div>
          <button (click)="addProduct(product)" class="bg-blue-500 text-white px-2 py-1 rounded col-span-1">+</button>
          <button (click)="subtractProduct(product, i)" class="bg-red-500 text-white px-2 py-1 rounded col-span-1">-</button>
        </div>
        <div class="flex justify-between">
          <p>Precio unitario: ${{ product.sale_price }}</p>
          <p>Precio total: ${{ product.sale_price * product.quantity! }}</p>
        </div>
      </div>
    </div>
    <div class="border-t mt-4 pt-4">
      <p class="font-semibold">Total: ${{ getTotal() }}</p>
      <button
      mat-raised-button
      color="primary"
      class="w-full my-4 py-2 text-lg font-bold"
      (click)="openPurchaseSummaryDialog()">
      Comprar
    </button>    
    </div>
  </div>
</div>
